.focusTask .completeBtn {
    margin-top: var(--default-spacing-lg);
}

.focusTask header nav,
.focusTask header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--default-spacing-);
}

.focusTask header h2 {
    text-transform: capitalize;
}

.focusTask .pomodoro {
    margin-top: var(--default-spacing-lg);
}

.focusTask .collapseIconBg {
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    position: absolute;
    display: grid;
    place-items: center;
}

.focusTask .collapseIconBg path {
    color: black;
}

.focusTask .collapseIconBg {
    opacity: 0;
}

.focusTask .collapseIconBg:hover {
    opacity: 1;
    backdrop-filter: blur(4px);
}

.focusTask .collapseIconBg .customIconBox {
    background: var(--default-background-color);
    opacity: 0.85;
}