.focusTask .completeBtn {
    margin-top: var(--default-spacing-lg);
}

.focusTask header nav,
.focusTask header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--default-spacing-);
}

.focusTask header h2 {
    text-transform: capitalize;
}

.focusTask .pomodoro {
    margin-top: var(--default-spacing-lg);
}