.focusTask .completeBtn {
    background-color: var(--default-background-color-action);
    text-transform: capitalize;
    color: black;
    border-color: var(--default-background-color-action);
}

.focusTask header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.focusTask header h2 {
    text-transform: capitalize;
}

.focusTask header h3 {
    margin: var(--default-spacing) 0px;
    text-transform: capitalize;
}

.focusTask .pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.focusTask .pomodoro .startStopBtn {
    text-transform: capitalize;
    padding: var(--default-spacing-xs);
    margin-bottom: var(--default-spacing-sm);
}

.focusTask .pomodoro .startStopBtn .MuiButton-endIcon {
    font-size: 16px;
    margin-left: 0;
}

.focusTask .pomodoro .countdownTimer {
    display: grid;
    place-items: center;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    padding: var(--default-spacing-sm);
    position: relative;
    background-color: var(--default-background-color-action);
    /* background-color: #1976d2; */
}

.focusTask .pomodoro .countdownTimer h4 {
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.focusTask .pomodoro .timerControls {
    padding: var(--default-spacing) 0px var(--default-spacing-sm);
}

.focusTask .pomodoro .timerActions .MuiToggleButtonGroup-root {
    width: 100%;
    background-color: var(--default-background-color-action);
    justify-content: space-between;
    margin: var(--default-spacing) 0px;
}

.focusTask .pomodoro .timerActions .MuiToggleButtonGroup-root .MuiToggleButton-root {
    font-size: 14px;
    text-transform: capitalize;
    padding: var(--default-spacing-sm) 10.5px;
}