.focusTask .completeBtn {
    margin-top: var(--default-spacing-lg);
    background-color: var(--default-background-color-action);
    text-transform: capitalize;
    color: black;
    border-color: var(--default-background-color-action);
}

.focusTask header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.focusTask header h2 {
    text-transform: capitalize;
}

.focusTask .pomodoro {
    margin-top: var(--default-spacing-lg);
}

.pomodoro .container {
    width: 100%;
}

.pomodoro .countdownTimer {
    width: 100%;
    display: grid;
    place-items: center;
    height: 100px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
}

.pomodoro .countdownTimer h2 {
    font-size: 32px;
}

.pomodoro .timerControls {
    padding: var(--default-spacing) 0px var(--default-spacing-sm);
}

.pomodoro .timerActions .MuiToggleButtonGroup-root {
    width: 100%;
    background-color: var(--default-background-color-action);
    justify-content: space-between;
}

.pomodoro .timerActions .MuiToggleButtonGroup-root .MuiToggleButton-root {
    font-size: 14px;
    text-transform: capitalize;
    padding: var(--default-spacing-sm) 10.5px;
}