.pomodoro .container {
    width: 100%;
}

.pomodoro .countdownTimer {
    width: 100%;
    display: grid;
    place-items: center;
    height: 100px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
}

.pomodoro .countdownTimer h2 {
    font-size: 32px;
}

.pomodoro .timerControls {
    padding: var(--default-spacing) 0px var(--default-spacing-sm);
}

.pomodoro_collapsed .countdownTimer h2 {
    text-align: center;
    font-size: 32px;
}