.setting {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.setting header {
    text-align: left;
    position: relative;
}

.setting header h2 {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
}

.setting .urlList {
    flex: 1;
    height: 100%;
}

.setting .urlList ul {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--default-spacing-sm);
}

.setting .urlList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.setting .urlList li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    width: calc(100% - 40px);
    text-align: left;
}

.setting .form {
    display: flex;
    gap: var(--default-spacing-sm);
    margin: var(--default-spacing) 0px var(--default-spacing-sm) 0px;
}

.setting .MuiInputBase-root {
    background-color: white;
}

.setting .form .btn {
    text-transform: capitalize;
    background-color: var(--default-background-color-action);
    color: black;
    height: 40px;
}

.setting .form .MuiFormHelperText-root {
    margin: var(--default-spacing-xs) 0px;
}

.setting .urlItem {
    background-color: white;
    padding: var(--default-spacing-sm) var(--default-spacing);
    border-radius: var(--default-spacing-sm);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting .urlItem-edit {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    padding-right: var(--default-spacing);
}

.setting div.iconBox {
    display: flex;
    gap: var(--default-spacing-sm);
}

.setting div.iconBox span {
    cursor: pointer;
    padding: 4px;
}