.todo {
    display: flex;
    flex-direction: column;
}

.todo header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.todo header .headerIcon {
    cursor: pointer;
    position: relative;
}

.todo header .headerIcon .settingsIcon {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
    background-color: #F8B895;
    padding: 1px;
    border-radius: 50%;
}
.todo .addTask {
    margin: var(--default-spacing) 0px;
    text-align: left;
}

.todo .addTask .btn {
    padding: var(--default-spacing-xs);
    text-transform: capitalize;
}

.todo .addTask .btn1 {
    background-color: var(--default-background-color-action);
    border-color: var(--default-background-color-action);
}

.todo .addTask .btn2 {
    margin-top: var(--default-spacing);
}

.todo .addTask .MuiInputBase-root {
    background-color: white;
}

.todo .todoList ul {
    padding: 0;
}

.todo .todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.todo .todoList li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    width: calc(100% - 40px);
    text-align: left;
}