.todo {
    display: flex;
    flex-direction: column;
}

.todo header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo header .icon {
    cursor: pointer;
}

.todo .addTask {
    margin-top: var(--default-spacing-lg);
    margin-bottom: var(--default-spacing);
    text-align: left;
}

.todo .addTask .btn2 {
    margin-top: var(--default-spacing);
}

.todo .addTask .css-szkf5z-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: white;
}

.todo .todoList ul {
    padding: 0;
}

.todo .todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.todo .todoList li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    width: calc(100% - 40px);
    text-align: left;
}