.todo {
    display: flex;
    flex-direction: column;
}

.todo header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo header .icon {
    cursor: pointer;
}

.todo .addTaskBtn {
    margin-top: var(--default-spacing-lg);
    margin-bottom: var(--default-spacing);
    text-transform: none;
}