.todo {
    display: flex;
    flex-direction: column;
}

.todo header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo header .icon {
    cursor: pointer;
}

.todo .addTask {
    margin-top: var(--default-spacing-lg);
    margin-bottom: var(--default-spacing);
    text-align: left;
}

.todo .addTask .btn {
    text-transform: none;
}

.todo .addTask .btn2 {
    margin-top: var(--default-spacing);
}

.todo .nextIcon {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.todo .nextIcon:hover {
    background-color: var(--icon-hover-color);
}

.todo .nextIcon path {
    fill: var(--icon-color);
}

.todo .todoList ul {
    padding: 0;
}

.todo .todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.todo .todoList li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    width: calc(100% - 40px);
    text-align: left;
}