.todo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.todo header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.todo header .headerIcon {
    cursor: pointer;
    position: relative;
}

.todo header .headerIcon .settingsIcon {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
    background-color: #F8B895;
    padding: 1px;
    border-radius: 50%;
}

.todo .addTask {
    margin: var(--default-spacing) 0px;
    text-align: left;
}

.todo .btn {
    padding: var(--default-spacing-xs);
    text-transform: capitalize;
}

.todo .btn1 {
    background-color: var(--default-background-color-action);
    border-color: var(--default-background-color-action);
}

.todo .btn2 {
    margin-top: var(--default-spacing-sm);
    background-color: var(--default-background-color-action);
    border-color: var(--default-background-color-action);
    color: black;
}

.todo .btn3 {
    color: #1976d2;
    background-color: #1976d220;
    width: 80px;
}

.todo .btn3 .MuiButton-icon {
    margin: 0;
}

.todo .addTask .MuiInputBase-root {
    background-color: white;
}

.todo .todoList ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--default-spacing-sm);
    height: 100%;
}

.todo .todoList {
    height: 100%;
    flex: 1;
}

.todo .todoList li {
    background-color: white;
    padding: var(--default-spacing-sm) var(--default-spacing);
    border-radius: var(--default-spacing-sm);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo .todoList li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    width: calc(100% - 40px);
    text-align: left;
}

.todo .todoList li .startFocus {
    display: flex;
    align-items: center;
}

.todo .todoList li .startFocus div {
    width: 78px;
}