:root {
  --default-spacing-lg: 32px;
  --default-spacing: 16px;
  --default-spacing-sm: 8px;
  --default-background-color: linear-gradient(135deg, rgb(255, 175, 190), rgb(255, 212, 93));
  --icon-color: rgba(0, 0, 0, 0.6);
  --icon-hover-color: rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

#root {
  background: var(--default-background-color);
  width: 300px;
  height: 450px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.App {
  text-align: center;
  padding: var(--default-spacing);
  background-color: transparent;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

/* COMMON CSS - CSS for icons for consistency in design */
.customIcon {
  cursor: pointer;
  margin: var(--default-spacing-sm) 0px;
  fill: var(--icon-color) !important;
}

.customIconBox {
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.customIconBox:hover {
  background-color: var(--icon-hover-color);
}

.customIconBox path {
  fill: var(--icon-color);
}

/* Custom CSS for html elements */
h2 {
  font-size: 24px;
}

small {
  font-size: 13px;
}

/* CSS for scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}