:root {
  --default-spacing-lg: 32px;
  --default-spacing: 16px;
  --default-spacing-sm: 8px;
  --default-background-color: linear-gradient(70deg, rgb(255, 175, 190), rgb(255, 235, 198));
  --icon-color: rgba(0, 0, 0, 0.6);
  --icon-hover-color: rgba(0, 0, 0, 0.04);
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  /* background: var(--default-background-color); */
  width: 300px;
  height: 100vh;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.App {
  text-align: center;
  padding: var(--default-spacing);
  background-color: transparent;
  position: relative;
}

/* COMMON CSS - CSS for icons for consistency in design */
.customIcon {
  cursor: pointer;
  margin: var(--default-spacing-sm) 0px;
  fill: var(--icon-color) !important;
}