:root {
  --default-spacing: 16px;
  --default-spacing-sm: 8px;
  --default-background-color: linear-gradient(70deg, rgb(255, 175, 190), rgb(255, 235, 198));
}

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  padding: var(--default-spacing);
  background: var(--default-background-color);
}
